.configMenu {
    display: None;
    position: absolute;
    width: 20vw;
    height: 20vh;
    max-width: 200px;
    background-color: rgb(42, 38, 38);
    border: 1.5px  solid rgb(198, 189, 189);
    left: 1vw;
    top: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.configMenu button {
    width: 90%;
    margin: 5%;
    border-radius: 20px;
    font-size: 12px;
    border: 2px  solid rgb(198, 189, 189);
    background-color: rgb(16, 16, 16);
}